<div *ngIf="!loaded" class="image">
  <img class="loading-image" src="./assets/images/haven-animation.gif">
</div>

<div *ngIf="loaded">
  <app-ngxline #child *ngIf="type =='line'" [view]="view" [data]="graphData"></app-ngxline>
  <app-ngxradar #child *ngIf="type == 'radar'" [view]="view" [data]="graphData"></app-ngxradar>
  <app-ngxarea #child *ngIf="type == 'area'" [view]="view" [data]="graphData"></app-ngxarea>
  <app-ngxstackvertbar #child *ngIf="type == 'stackvbar'" [view]="view" [data]="graphData"></app-ngxstackvertbar>
  <app-ngxstackhorzbar #child *ngIf="type == 'stackhbar'" [view]="view" [data]="graphData"></app-ngxstackhorzbar>

</div>
