<div *ngIf="!loaded" class="row">
  <img class="loading-image" src="../../assets/images/haven-animation.gif">
</div>

<div *ngIf="loaded" class="home">

  <div *ngFor="let chart of charts">
    <app-window [chartid]="chart.chartid" [title]="chart.name" [type]="chart.type" [view]="chart.view">
    </app-window>
  </div>

  <div class="container chartCreator">
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="model.name" name="title">
      </div>
      <div class="form-group">
        <label for="author">Type</label>
        <select class="form-control" id="type" 
          required 
          [(ngModel)]="model.type" 
          name="type"
          #type="ngModel">
          <option *ngFor="let chart of chartTypes" [value]="chart">{{chart}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-default" (click)="createChart()" >Create Chart</button>
    </form>
  </div>

</div>
