<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Charts</div>
  </div>

  <div class="row">

    <div class="col-sm">
      <form>

        <p matTooltip="Renewable Portfolio Standard" matTooltipPosition="after" class="percentValue">RPS {{ selRPS }}%</p>
        <p matTooltip="Renewable Energy Percent" matTooltipPosition="after" class="percentValue">REP {{ selREP }}%</p>
        <p matTooltip="Selected Year" matTooltipPosition="after" class="percentValue">Year {{ selYear }}</p>

        <mat-slider *ngIf="selModel == 'RPS'" [min]="sliderRPSMin" [max]="sliderRPSMax" step="1" [value]="selRPS" (input)="sliderRPSChange($event)"></mat-slider>
        <mat-slider *ngIf="selModel == 'REP'" [min]="sliderREPMin" [max]="sliderREPMax" step="1" [value]="selREP" (input)="sliderREPChange($event)"></mat-slider>
        <mat-slider *ngIf="selModel == 'Year'" [min]="sliderYearMin" [max]="sliderYearMax" step="1" [value]="selYear" (input)="sliderYearChange($event)"></mat-slider>

        <mat-radio-group labelPosition="after" required="true" (change)="radioChange($event)">
          <mat-radio-button value="RPS">RPS</mat-radio-button>
          <mat-radio-button value="REP">REP</mat-radio-button>
          <mat-radio-button checked="true"  value="Year">Year</mat-radio-button>
        </mat-radio-group>

        <hr>
        <p class="percentValue">{{ titleDate() }}</p>

        <mat-slider [min]="sliderDayMin" [max]="sliderDayMax" step="1" [value]="selDay" (input)="sliderDayChange($event)"></mat-slider>

        <mat-form-field>
          <mat-select required placeholder="Scenario" [(ngModel)]="selScenario" [ngModelOptions]="{standalone: true}" class="input-field">
            <mat-option *ngFor="let scenario of scenarios" [value]="scenario">{{ scenario }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select required placeholder="Graph" [(ngModel)]="selChart" [ngModelOptions]="{standalone: true}" class="input-field">
            <mat-option *ngFor="let chart of charts" [value]="chart">{{ chart }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="createWindow()" class="add-button">Add Window</button>

      </form>
    </div>

  </div>

</div>
