.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.example-card {
  width: 350px;
}

.login-button {
  width: 100%;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.create-button {
  width: 100%;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

.input-field {
  width: 100%;
}