/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.container-fluid {
  padding-top: 60px;
  padding-bottom:60px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */
.main  {
  margin-left: 300px;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}

.topimg {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(https://s-media-cache-ak0.pinimg.com/736x/3d/bc/63/3dbc634df3baa5316c09eebf525371f8--country-charm-country-life.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
}
.topimg h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
}