<div #panelDiv class="panel panel-default resizable">
  <div #dragBar class="panel-heading panel-heading-custom">
    {{ title }} - {{ chartid }} 
    <button class="navbarButton" (click)="removeChart()"><span class="glyphicon glyphicon-remove"></span></button>
    <button class="navbarButton" (click)="incAlpha()"><span class="glyphicon glyphicon-plus"></span></button>
    <button class="navbarButton" (click)="decAlpha()"><span class="glyphicon glyphicon-minus"></span></button>
    <button class="navbarButton" (click)="maximize()"><span #glyphSize class="glyphicon" [ngClass]="{'glyphicon-resize-full': !maximized, 'glyphicon-resize-small': maximized }"></span></button>
  </div>
  <div class="panel-body">
      <app-ngxline #child *ngIf="type == 'line'" [view]="view"></app-ngxline>
      <app-ngxradar #child  *ngIf="type == 'radar'" [view]="view"></app-ngxradar>
      <app-ngxguage #child  *ngIf="type == 'guage'" [view]="view"></app-ngxguage>
      <app-arcgis-3d-map #child *ngIf="type == 'map'" [view]="view"></app-arcgis-3d-map>
  </div>
</div>
