.panel {
  width: 200px;
  height: 200px;
  top: 150px;
  left: 100px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.resizable {
  overflow: hidden;
  resize: both
}

.panel-default>.panel-heading-custom {
  background-color: rgba(108, 138, 164, 0.88);
  color: #fff;
  height: 30px;
  padding: 5px;
}

.navbarButton {
  height: 20px; 
  width: 20px;
  float: right;
  margin-left: 3px;
  border-radius: 10%;
  border-color: transparent;
}

.glyphicon {
  font-size: 12px;
  transform: translate(-30%, -25%);
}

.glyphicon-remove {
  color: #F37E7E;
}

.glyphicon-plus {
  color: rgba(97, 97, 97, 0.85);
}

.glyphicon-minus {
  color: rgba(97, 97, 97, 0.35);
}

