<div class="col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="solar" [ngClass]="{'active': solarActive }" (click)="solarClicked()"><a>Solar</a></li>
    <li class="wind" [ngClass]="{'active': windActive }" (click)="windClicked()"><a>Wind</a></li>
    <li class="hydro" [ngClass]="{'active': hydroActive }" (click)="hydroClicked()"><a>Hydro</a></li>
    <li class="bio" [ngClass]="{'active': bioActive }" (click)="bioClicked()"><a>Bio</a></li>
    <li class="oil" [ngClass]="{'active': oilActive }" (click)="oilClicked()"><a>Oil</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="curtailment" [ngClass]="{'active': curtActive }" (click)="curtClicked()"><a>Curtailment</a></li>
    <li class="generation" [ngClass]="{'active': geneActive }" (click)="geneClicked()"><a>Generation</a></li>
    <li class="storage" [ngClass]="{'active': storActive }" (click)="storClicked()"><a>Storage</a></li>
    <li class="landuse" [ngClass]="{'active': landActive }" (click)="landClicked()"><a>LandUse</a></li>
  </ul>

  <ul class="nav nav-sidebar date" style="text-align: center; margin-bottom: 5px;">
    <li><a>{{ day }} / {{ month }} / {{ year }}</a></li>
  </ul>

  <div class="row" style="padding-bottom: 25px;">
    <div class="col-sm-4">
      <md-slider [max]=31 [min]=1 [thumb-label]=true style="height:300px;" [vertical]=true [(ngModel)]="day">
      </md-slider>
    </div>
    <div class="col-sm-4 placeholder">
      <md-slider [max]=12 [min]=1 [thumb-label]=true style="height:300px;" [vertical]=true [(ngModel)]="month">
      </md-slider>
    </div>
    <div class="col-sm-4 placeholder">
      <md-slider [max]=2045 [min]=2016 [thumb-label]=true style="height:300px;" [vertical]=true [(ngModel)]="year">
      </md-slider>
    </div>
  </div>

  <ul class="nav nav-sidebar" style="text-align: center;">
    <li (click)="addDataRequest()"><a>Add Data</a></li>
    <li (click)="resetData()"><a>Reset Data</a></li>
  </ul>

</div>
