<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Maps</div>
  </div>

  <div class="row">

    <div class="col-sm">
      <button md-raised-button (click)="createMap()" class="map-button">Show Map</button>
    </div>

    <hr>

    <div class="col-sm">
      <md-slide-toggle (change)="showDOD($event)">DOD Layer</md-slide-toggle>
    </div>
    <div class="col-sm">
      <md-slide-toggle (change)="showFlood($event)">Flood Zones</md-slide-toggle>
    </div>
    <div class="col-sm">
      <md-slide-toggle (change)="showAgr($event)">Agricultural</md-slide-toggle>
    </div>
    <div class="col-sm">
      <md-slide-toggle (change)="showLandUse($event)">Land Use</md-slide-toggle>
    </div>
    <div class="col-sm">
      <md-slide-toggle (change)="showParks($event)">State Parks</md-slide-toggle>
    </div>
    <div class="col-sm">
      <md-slide-toggle (change)="showLava($event)">Lava Flow</md-slide-toggle>
    </div>

  </div>

</div>
