<div id="content" [@movePanel]='state' class="container sidebar">

  <div (click)="toggleMenu()" class="menuButton">
    <div class="menuButton-text">Map</div>
  </div>

  <div class="row">

    <div *ngIf="!mapActive" class="col-sm">
      <button mat-raised-button (click)="showMap()" class="map-show-button">Show Map</button>
    </div>

    <div *ngIf="mapActive" class="col-sm">
        <button mat-raised-button (click)="hideMap()" class="map-hide-button">Hide Map</button>
      </div>

    <hr>

    <div class="col-sm" *ngFor="let layer of layers">
      <mat-slide-toggle name="{{layer.name}}" (change)="toggleLayer($event)">{{ layer.name }}</mat-slide-toggle>
    </div>

  </div>

</div>
