.sidebar {
  position: absolute;
  top: 20px;
  left: calc(100% - 10px);
  background-color: rgba(255, 255, 255, 0.9);
  width: 160px;
  height: 225px;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.menuButton {
  position: relative;
  left: 153px;
  transform: translate(0%, -50%);
  background-color: #a9b6bc;
  color:white;
  top: 50%;
  width: 30px;
  height: 100px;
  border-radius: 3px 20px 20px 3px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  text-align: center;
  vertical-align: middle;
}
.menuButton-text
{
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  transform: translate(-2px, 50px) rotate(-90deg);
}
.menuButton:hover
{
  cursor: pointer;
}

.row {
  margin: 0px !important;
  position: relative;
  top: -100px;
}

.col-sm {
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
}

::ng-deep .slide-0.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #fad1d3;
}
::ng-deep .slide-0.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #EC5f67; /*replace with your color*/
}

::ng-deep .slide-1.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #fddece;
}
::ng-deep .slide-1.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #F99157; /*replace with your color*/
}

::ng-deep .slide-2.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #fdedce;
}
::ng-deep .slide-2.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #FAC863; /*replace with your color*/
}

::ng-deep .slide-3.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #dfedde;
}
::ng-deep .slide-3.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #99C794; /*replace with your color*/
}

::ng-deep .slide-4.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #d9e6f2;
}
::ng-deep .slide-4.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #6699CC; /*replace with your color*/
}

::ng-deep .slide-5.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #eddeed;
}
::ng-deep .slide-5.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #C594C5; /*replace with your color*/
}

::ng-deep .slide-6.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
  background-color: #ede2de;
}
::ng-deep .slide-6.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #AB7967; /*replace with your color*/
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.loading-image {
    width: 100px;
    height: 100px;
}
