<div class="container">
  <div class="row">
    <div class="col-sm-6 col-centered self-guided">
      <div class="card text-center">
        <div class="card-block">
          <span class="glyphicon glyphicon-flash"></span>
          <h2 class="card-title">Self-Guided</h2>
          <span style="font-weight: bold;">Explore the data from a larger perspective and work your way down to the smaller details.</span>
          <h3>Experience Level</h3>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <p class="card-text">Decide how to visualize the data with a top-down approach. Select different energy planning scenarios and see how
            they differ, where they intersect, and how the islands will change. You choose which parameters are important.</p>
          <a href="#" class="btn btn-primary self-guided" routerLink="/example">Select</a>
        </div>
      </div>
    </div>
  </div>
</div>
