<div class="container">
  <div class="row">
    <div class="col-sm-6 self-guided">
      <div class="card text-center">
        <div class="card-block">
          <span class="glyphicon glyphicon-flash"></span>
          <h2 class="card-title">Self-Guided</h2>
          <span style="font-weight: bold;">Explore the data from a larger perspective and work your way down to the smaller details.</span>
          <h3>Experience Level</h3>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <p class="card-text">Decide how to visualize the data with a top-down approach. Select different energy planning scenarios and see how
            they differ, where they intersect, and how the islands will change. You choose which parameters are important.</p>
          <a href="#" class="btn btn-primary self-guided" routerLink="/example">Select</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6  guided">
      <div class="card text-center">
        <div class="card-block">
          <span class="glyphicon glyphicon-certificate"></span>
          <h2 class="card-title">Guided-COMING SOON</h2>
          <span style="font-weight: bold;">Explore the data by selecting the details that are important to you and see different scenarios that fit your decisions.</span>
          <h3>Experience Level</h3>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <p class="card-text">Through your exploration of the data you will make key decisions along the way about what you find important. From
            your decisions different scenarios will be shown that fit the narrative you want to tell. This option is best
            for people new to the data set or are unsure about the role renewable energy and land use play in Hawaii.</p>
          <a href="#" class="btn btn-primary guided" routerLink="/example">Select</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <app-table></app-table>
