.col-sm-6 {
    border-width: 8px;
    border-style: solid;
    border-radius: 8px;
    height: 575px;
    width: 500px;
    margin: 20px;
}


.card-title {
    font-weight: bold;
    font-size: 40px;
}

.card-text {
    font-size: 16px;
    height:150px;
    margin-top: 20px;
}

.btn{
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.btn.self-guided{
    background-color: #1593c3;
}

.self-guided {
    border-color: #1593c3;
}

.glyphicon-flash {
    font-size: 80px;
    color: #1593c3;
    margin-top: 15px;
}

.btn.guided{
    background-color: #c4403d;
}

.guided {
    border-color: #c4403d;
}

.glyphicon-certificate {
    font-size: 80px;
    color: #c4403d;
    margin-top: 15px;
}


.glyphicon-star {
    font-size: 40px;
    color: #ffd106
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}