/* Panel */
.panel {
  min-width: 350px;
  min-height: 300px;
  top: 150px;
  left: 100px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); 
  border: 0px; 

}
.panel-body {
  padding: 5px;
}

.windowBody {
  /* 100% minus dragbar size */
  left: 15px;
  top: 5px;
  height: calc(100% - 55px); 
  width: calc(100% - 30px);
  position: relative;
}

/* Panel behind Title/drag bar */
.panel-default>.panel-heading-custom {
  background-color: #a9b6bc;
  color: #fff;
  height: 30px;
  padding: 5px;
  border: none;
}
.panel-default>.panel-heading-custom {
  padding-left: 0px;
}

/* Title/Drag Bar */
.title {
  position: relative;
  left: 0px;
  top: 0px;
  background-color: #a9b6bc;
  color:white;
  width: calc(100% - 220px);
  height: 30px;
  transform: translateY(-5px);
  border-radius: 4px 0px 50px 0px;
  box-shadow: 8px 0px 0px 0px rgba(0,0,0,.12);
  border-style: none;
  border-right: 3px solid white;
  text-align: left;
  float: left;
  vertical-align: middle;
  padding-left: 8px;
}
.title-text
{
  font-size: 18px;
  letter-spacing: 0.5px;
  transform: translateY(2px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 25px;
}
.title:hover {
  cursor: pointer;
}

/* Maximize and Close Buttons */
.navbarButton.maximize.mat-fab {
  background-color: #3aa056; 
}
/* Maximize and Close Buttons */
.navbarButton.lock.mat-fab {
  background-color: #e16b16; 
}
.navbarButton.mat-fab {
  height: 20px; 
  width: 20px;
  float: right;
  line-height: 1.95;
  margin-left: 5px;
  box-shadow: none;
}
::ng-deep  .navbarButton.mat-fab > .mat-button-wrapper{
  padding: 0px !important;
}
::ng-deep  .navbarButton.mat-fab > .mat-button-wrapper > .mat-icon {
  height: 20px;
  width: 20px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: baseline;
}

/* Transparrent Slider */
.transparentSlider.mat-slider {
  height: 20px;
  width: 128px;
  padding: 0px;
  float: right;
  transform: translateY(-1.5px);
  margin-right: 3px;
}
::ng-deep .transparentSlider.mat-slider-horizontal > .mat-slider-wrapper {
  top: 10px;
}
::ng-deep .transparentSlider.mat-slider-horizontal > .mat-slider-wrapper > .mat-slider-track-wrapper > .mat-slider-track-fill {
  background-color: #f1f3f4;
}
::ng-deep .transparentSlider.mat-slider-horizontal > .mat-slider-wrapper > .mat-slider-track-wrapper > .mat-slider-track-background {
  background-color: #828e94;
}
::ng-deep .transparentSlider.mat-slider-horizontal > .mat-slider-wrapper > .mat-slider-thumb-container > .mat-slider-thumb {
  background-color: #ffb92c;
}

.resizeBox {
  position: absolute;
  width: 15px;
  height: 15px;
  left: calc(100% - 15px);
  top: calc(100% - 15px);
  object-fit: contain;
  background-color: #a9b6bc;
  border-radius: 4px 0px 0px 0px;
}

.resizeBox:hover {
  cursor: grab;
}
.resizeBox:active {
  cursor: grabbing;
}

.lockBox {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0px;
  top: calc(100% - 25px);
  object-fit: contain;
  background-color: #a9b6bc;
  border-radius: 0px 0px 4px 0px;
}